<a href="https://colab.research.google.com/github/nahyunryou/Machine_Learning/blob/main/4_3_aggregations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aggregating data with pandas and numpy

## About the Data
In this notebook, we will be working with 2 datasets:
- Facebook's stock price throughout 2018 (obtained using the [`stock_analysis` package](https://github.com/stefmolin/stock-analysis)).
- daily weather data for NYC from the [National Centers for Environmental Information (NCEI) API](https://www.ncdc.noaa.gov/cdo-web/webservices/v2).

*Note: The NCEI is part of the National Oceanic and Atmospheric Administration (NOAA) and, as you can see from the URL for the API, this resource was created when the NCEI was called the NCDC. Should the URL for this resource change in the future, you can search for "NCEI weather API" to find the updated one.*

## Background on the weather data

Data meanings:
- `AWND`: average wind speed
- `PRCP`: precipitation in millimeters
- `SNOW`: snowfall in millimeters
- `SNWD`: snow depth in millimeters
- `TMAX`: maximum daily temperature in Celsius
- `TMIN`: minimum daily temperature in Celsius

## Setup

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/ML/ch_04/

/content/drive/MyDrive/ML/ch_04

In [ ]:
import numpy as np
import pandas as pd

fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high'])
)
fb.head()

              open    high       low   close    volume trading_volume
date
2018-01-02  177.68  181.58  177.5500  181.42  18151903            low
2018-01-03  181.88  184.78  181.3300  184.67  16886563            low
2018-01-04  184.90  186.21  184.0996  184.33  13880896            low
2018-01-05  185.59  186.90  184.9300  186.85  13574535            low
2018-01-08  187.20  188.90  186.3300  188.28  17994726            low

In [ ]:
weather = pd.read_csv('data/weather_by_station.csv', index_col='date', parse_dates=True)
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039    0.0           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US

In [ ]:
dp = weather.query('datatype=="PRCP"').groupby(level=0).mean()
dp

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   4.916071
2018-01-05  12.303571
...               ...
2018-12-27   0.000000
2018-12-28  10.462025
2018-12-29  18.655263
2018-12-30   0.063514
2018-12-31   4.128767

[365 rows x 1 columns]

In [ ]:
dp.groupby(pd.Grouper(freq="Q")).sum()

                 value
date
2018-03-31  364.885769
2018-06-30  334.893094
2018-09-30  546.518380
2018-12-31  473.972345

In [ ]:
dp.groupby(pd.Grouper(freq="Q")).value.count()

date
2018-03-31    90
2018-06-30    91
2018-09-30    92
2018-12-31    92
Freq: Q-DEC, Name: value, dtype: int64

Before we dive into any calculations, let's make sure `pandas` won't put things in scientific notation. We will modify how floats are formatted for displaying. The format we will apply is `.2f`, which will provide the float with 2 digits after the decimal point:

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Summarizing DataFrames
We learned about `agg()` in the [`2-dataframe_operations.ipynb`](./2-dataframe_operations.ipynb) notebook when we learned about window calculations; however, we can call this on the dataframe directly to aggregate its contents into a single series:

In [ ]:
fb.agg({
    'open': np.mean, 
    'high': np.max, 
    'low': np.min, 
    'close': np.mean, 
    'volume': np.sum
})

open            171.45
high            218.62
low             123.02
close           171.51
volume   6949682394.00
dtype: float64

We can use this to find the total snowfall and precipitation recorded in Central Park in 2018:

In [ ]:
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039   0.00           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US

In [ ]:
weather.query('station == "GHCND:USW00094728"')\
    .pivot(columns='datatype', values='value')[['SNOW', 'PRCP']]\
    .sum()

datatype
SNOW   1007.00
PRCP   1665.30
dtype: float64

This is equivalent to passing `'sum'` to `agg()`:

In [ ]:
weather.query('station == "GHCND:USW00094728"')\
    .pivot(columns='datatype', values='value')[['SNOW', 'PRCP']]\
    .agg('sum') ## .sum()

datatype
SNOW   1007.00
PRCP   1665.30
dtype: float64

Note that we aren't limited to providing a single aggregation per column. We can pass a list, and we will get a dataframe back instead of a series. Null values are placed where we don't have a calculation result to display:

In [ ]:
fb.agg({
    'open': 'mean',
    'high': ['min', 'max'],
    'low': ['min', 'max'],
    'close': 'mean'
})

       open   high    low  close
mean 171.45    NaN    NaN 171.51
min     NaN 129.74 123.02    NaN
max     NaN 218.62 214.27    NaN

## Using `groupby()`
Often we won't want to aggregate on the entire dataframe, but on groups within it. For this purpose, we can run `groupby()` before the aggregation. If we group by the `trading_volume` column, we will get a row for each of the values it takes on:

In [ ]:
fb.head()

             open   high    low  close    volume trading_volume
date
2018-01-02 177.68 181.58 177.55 181.42  18151903            low
2018-01-03 181.88 184.78 181.33 184.67  16886563            low
2018-01-04 184.90 186.21 184.10 184.33  13880896            low
2018-01-05 185.59 186.90 184.93 186.85  13574535            low
2018-01-08 187.20 188.90 186.33 188.28  17994726            low

In [ ]:
fb.groupby('trading_volume').mean()

                 open   high    low  close       volume
trading_volume
low            171.36 173.46 169.31 171.43  24547207.71
med            175.82 179.42 172.11 175.14  79072559.12
high           167.73 170.48 161.57 168.16 141924023.33

After we call `groupby()`, we can still select columns for aggregation:

In [ ]:
fb.groupby('trading_volume')['close'].agg(['min', 'max', 'mean'])

                  min    max   mean
trading_volume
low            124.06 214.67 171.43
med            152.22 217.50 175.14
high           160.06 176.26 168.16

We can still provide a dictionary specifying the aggregations to perform, but passing a list for a column will result in a hierarchical index for the columns:

In [ ]:
fb_agg = fb.groupby('trading_volume').agg({
    'open': 'mean',
    'high': ['min', 'max'],
    'low': ['min', 'max'],
    'close': 'mean'
})
fb_agg

                 open   high           low         close
                 mean    min    max    min    max   mean
trading_volume
low            171.36 129.74 216.20 123.02 212.60 171.43
med            175.82 162.85 218.62 150.75 214.27 175.14
high           167.73 161.10 180.13 149.02 173.75 168.16

The hierarchical index in the columns looks like this:

In [ ]:
fb_agg.columns

MultiIndex([( 'open', 'mean'),
            ( 'high',  'min'),
            ( 'high',  'max'),
            (  'low',  'min'),
            (  'low',  'max'),
            ('close', 'mean')],
           )

Using a list comprehension, we can join the levels (in a tuple) with an `_` at each iteration:

In [ ]:
fb_agg.columns = ['_'.join(col_agg) for col_agg in fb_agg.columns]
fb_agg.head()

                open_mean  high_min  high_max  low_min  low_max  close_mean
trading_volume
low                171.36    129.74    216.20   123.02   212.60      171.43
med                175.82    162.85    218.62   150.75   214.27      175.14
high               167.73    161.10    180.13   149.02   173.75      168.16

We can group on values in the index if we tell `groupby()`, which `level` to use:

In [ ]:
weather.loc['2018-10'].query('datatype == "PRCP"')\

,datatype,station,value,station_name
date,,,,
2018-10-01,PRCP,GHCND:US1CTFR0039,0.00,"STAMFORD 4.2 S, CT US"
2018-10-01,PRCP,GHCND:US1NJBG0003,0.00,"TENAFLY 1.3 W, NJ US"
2018-10-01,PRCP,GHCND:US1NJBG0017,0.00,"GLEN ROCK 0.7 SSE, NJ US"
2018-10-01,PRCP,GHCND:US1NJBG0018,0.00,"PALISADES PARK 0.2 WNW, NJ US"
2018-10-01,PRCP,GHCND:US1NJBG0023,0.00,"OAKLAND 0.9 SSE, NJ US"
...,...,...,...,...
2018-10-31,PRCP,GHCND:USW00054787,0.00,"FARMINGDALE REPUBLIC AIRPORT, NY US"
2018-10-31,PRCP,GHCND:USW00094728,0.00,"NY CITY CENTRAL PARK, NY US"
2018-10-31,PRCP,GHCND:USW00094741,0.00,"TETERBORO AIRPORT, NJ US"
2018-10-31,PRCP,GHCND:USW00094745,0.00,"WESTCHESTER CO AIRPORT, NY US"
2018-10-31,PRCP,GHCND:USW00094789,0.00,"JFK INTERNATIONAL AIRPORT, NY US"

In [ ]:
weather.loc['2018-10'].query('datatype == "PRCP"')\
    .groupby(level=0).mean().head()

            value
date
2018-10-01   0.01
2018-10-02   2.23
2018-10-03  19.69
2018-10-04   0.32
2018-10-05   0.97

In [ ]:
weather.loc['2018-10'].query('datatype == "PRCP"')\
    .groupby(level=0).mean().head().squeeze() # index groupby(level=0) / squeeze: converge back to series object

date
2018-10-01    0.01
2018-10-02    2.23
2018-10-03   19.69
2018-10-04    0.32
2018-10-05    0.96
Name: value, dtype: float64

We can also create a `Grouper` object, which can also roll up the datetimes in the index. Here, we find the quarterly total precipitation per station:

In [ ]:
weather.query('datatype == "PRCP"').groupby(
    ['station_name', pd.Grouper(freq='Q')]
).sum()

                                          value
station_name                  date
ALBERTSON 0.2 SSE, NY US      2018-03-31 359.40
                              2018-06-30 279.90
                              2018-09-30 294.80
                              2018-12-31 405.10
AMITYVILLE 0.1 WSW, NY US     2018-03-31 314.90
...                                         ...
WOODBRIDGE TWP 1.1 NNE, NJ US 2018-12-31 480.70
WOODBRIDGE TWP 3.0 NNW, NJ US 2018-03-31 342.70
                              2018-06-30 372.90
                              2018-09-30 440.10
                              2018-12-31 401.50

[397 rows x 1 columns]

In [ ]:
weather.query('datatype == "PRCP"').groupby(
    ['station_name', pd.Grouper(freq='Q')]
).sum().unstack().sample(5, random_state=1)

                                 value
date                        2018-03-31 2018-06-30 2018-09-30 2018-12-31
station_name
WANTAGH 1.1 NNE, NY US           279.9      216.8      472.5      277.2
STATEN ISLAND 1.4 SE, NY US      379.4      295.3      438.8      409.9
SYOSSET 2.0 SSW, NY US           323.5      263.3      355.5      459.9
STAMFORD 4.2 S, CT US            338.0      272.1      424.7      390.0
WAYNE TWP 0.8 SSW, NJ US         246.2      295.3      620.9      422.0

Note that we can use `filter()` to exclude some groups from aggregation. Here, we only keep groups with names ending in "NY US" in the group's `name` attribute, which is the station name in this case:

In [ ]:
weather.groupby('station_name').filter( # station names with "NY US" in them
    lambda x: x.name.endswith('NY US')
).query('datatype == "SNOW"').groupby('station_name').sum().squeeze() # aggregate and make a series (squeeze)

station_name
ALBERTSON 0.2 SSE, NY US            1087.0
AMITYVILLE 0.1 WSW, NY US            434.0
AMITYVILLE 0.6 NNE, NY US           1072.0
ARMONK 0.3 SE, NY US                1504.0
BROOKLYN 3.1 NW, NY US               305.0
CENTERPORT 0.9 SW, NY US             799.0
CENTERPORT, NY US                   1333.0
ELMSFORD 0.8 SSW, NY US              863.0
FLORAL PARK 0.4 W, NY US            1015.0
HICKSVILLE 1.3 ENE, NY US            716.0
JACKSON HEIGHTS 0.3 WSW, NY US       107.0
JFK INTERNATIONAL AIRPORT, NY US     855.0
LA GUARDIA AIRPORT, NY US            892.0
LOCUST VALLEY 0.3 E, NY US             0.0
LYNBROOK 0.3 NW, NY US               325.0
MASSAPEQUA 0.9 SSW, NY US             41.0
MIDDLE VILLAGE 0.5 SW, NY US        1249.0
NEW HYDE PARK 1.6 NE, NY US            0.0
NEW YORK 8.8 N, NY US                  0.0
NORTH WANTAGH 0.4 WSW, NY US         471.0
NY CITY CENTRAL PARK, NY US         1007.0
PLAINEDGE 0.4 WSW, NY US             610.0
PLAINVIEW 0.4 ENE, NY US            1360.0
SADDLE ROCK 3.4 WSW, NY US           707.0
STATEN ISLAND 1.4 SE, NY US          936.0
STATEN ISLAND 4.5 SSE, NY US          89.0
SYOSSET 2.0 SSW, NY US              1039.0
SYOSSET, NY US                       419.0
VALLEY STREAM 0.6 SE, NY US          898.0
WANTAGH 0.3 ESE, NY US              1280.0
WANTAGH 1.1 NNE, NY US               940.0
WEST NYACK 1.3 WSW, NY US           1371.0
Name: value, dtype: float64

Let's see which months have the most precipitation. First, we need to group by day and average the precipitation across the stations. Then we can group by month and sum the resulting precipitation. We use `nlargest()` to give the 5 months with the most precipitation:

In [ ]:
weather.query('datatype == "PRCP"')\
    .groupby(level=0).mean()\

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   4.916071
2018-01-05  12.303571
...               ...
2018-12-27   0.000000
2018-12-28  10.462025
2018-12-29  18.655263
2018-12-30   0.063514
2018-12-31   4.128767

[365 rows x 1 columns]

In [ ]:
weather.query('datatype == "PRCP"')\
    .groupby(level=0).mean()\  ## ì—¬ê¸°ê¹Œì§€ daily mean
    .groupby(pd.Grouper(freq='M')).sum().value.nlargest() ## montly sum / 5 largest

date
2018-11-30   210.59
2018-09-30   193.09
2018-08-31   192.45
2018-07-31   160.98
2018-02-28   158.11
Name: value, dtype: float64

Perhaps the previous result was surprising. The saying goes "April showers bring May flowers"; yet April wasn't in the top 5 (neither was May for that matter). Snow will count towards precipitation, but that doesn't explain why summer months are higher than April. Let's look for days that accounted for a large percentage of the precipitation in a given month. 

In order to do so, we need to calculate the average daily precipitation across stations and then find the total per month. This will be the denominator. However, in order to divide the daily values by the total for their month, we will need a series of equal dimensions. This means we will need to use `transform()`:

In [ ]:
weather.query('datatype == "PRCP"')\
    .rename(dict(value='prcp'), axis=1)\
    .groupby(level=0).mean()

            prcp
date
2018-01-01  0.00
2018-01-02  0.00
2018-01-03  0.00
2018-01-04  4.92
2018-01-05 12.30
...          ...
2018-12-27  0.00
2018-12-28 10.46
2018-12-29 18.66
2018-12-30  0.06
2018-12-31  4.13

[365 rows x 1 columns]

In [ ]:
weather.query('datatype == "PRCP"')\
    .rename(dict(value='prcp'), axis=1)\
    .groupby(level=0).mean()\
    .groupby(pd.Grouper(freq='M'))\
    .transform(np.sum)  ## daily summary statistic

             prcp
date
2018-01-01  69.31
2018-01-02  69.31
2018-01-03  69.31
2018-01-04  69.31
2018-01-05  69.31
...           ...
2018-12-27 157.75
2018-12-28 157.75
2018-12-29 157.75
2018-12-30 157.75
2018-12-31 157.75

[365 rows x 1 columns]

In [ ]:
weather.query('datatype == "PRCP"')\
    .rename(dict(value='prcp'), axis=1)\
    .groupby(level=0).mean()\ 
    .groupby(pd.Grouper(freq='M'))\ 
    .transform(np.sum)['2018-01-28':'2018-02-03']

             prcp
date
2018-01-28  69.31
2018-01-29  69.31
2018-01-30  69.31
2018-01-31  69.31
2018-02-01 158.11
2018-02-02 158.11
2018-02-03 158.11

Notice how we have the same value repeated for each day in the month it belongs to. This will allow us to calculate the percentage of the monthly precipitation that occurred each day and then pull out the largest values:

In [ ]:
weather\
    .query('datatype == "PRCP"')\
    .rename(dict(value='prcp'), axis=1)\
    .groupby(level=0).mean()\
    .assign(
        total_prcp_in_month=lambda x: \
            x.groupby(pd.Grouper(freq='M')).transform(np.sum),
        total_day_countin_month=lambda x: \
            x.groupby(pd.Grouper(freq='M')).prcp.transform('count'), ### how many items in this data
        pct_monthly_prcp=lambda x: \
            x.prcp.div(x.total_prcp_in_month)
    )\
    .nlargest(5, 'pct_monthly_prcp')

,prcp,total_prcp_in_month,total_day_countin_month,pct_monthly_prcp
date,,,,
2018-10-12,34.774157,105.630051,31,0.329207
2018-01-13,21.664557,69.313689,31,0.312558
2018-03-02,38.769318,137.457558,31,0.282046
2018-04-16,39.342857,140.569419,30,0.279882
2018-04-17,37.304938,140.569419,30,0.265384

`transform()` can be used on dataframes as well. We can use it to easily standardize the data:

In [ ]:
fb[['open', 'high', 'low', 'close']]\
    .transform(lambda x: (x - x.mean()).div(x.std()))\
    .head()

            open  high  low  close
date
2018-01-02  0.32  0.41 0.41   0.50
2018-01-03  0.53  0.57 0.60   0.66
2018-01-04  0.68  0.65 0.74   0.64
2018-01-05  0.72  0.68 0.78   0.77
2018-01-08  0.80  0.79 0.85   0.84

## Pivot tables and crosstabs
We saw pivots in [`ch_03/4-reshaping_data.ipynb`](../ch_03/4-reshaping_data.ipynb); however, we weren't able to provide any aggregations. With `pivot_table()`, we get the mean by default. In its simplest form, we provide a column to place along the columns:

In [ ]:
fb.head()

             open   high    low  close    volume trading_volume
date
2018-01-02 177.68 181.58 177.55 181.42  18151903            low
2018-01-03 181.88 184.78 181.33 184.67  16886563            low
2018-01-04 184.90 186.21 184.10 184.33  13880896            low
2018-01-05 185.59 186.90 184.93 186.85  13574535            low
2018-01-08 187.20 188.90 186.33 188.28  17994726            low

In [ ]:
fb.pivot_table(columns='trading_volume')

trading_volume         low         med         high
close               171.43      175.14       168.16
high                173.46      179.42       170.48
low                 169.31      172.11       161.57
open                171.36      175.82       167.73
volume         24547207.71 79072559.12 141924023.33

By placing the trading volume in the index, we get the transpose:

In [ ]:
fb.pivot_table(index='trading_volume')

                close   high    low   open       volume
trading_volume
low            171.43 173.46 169.31 171.36  24547207.71
med            175.14 179.42 172.11 175.82  79072559.12
high           168.16 170.48 161.57 167.73 141924023.33

With `pivot()`, we also weren't able to handle multi-level indices or indices with repeated values. For this reason we haven't been able to put the weather data in the wide format. The `pivot_table()` method solves this issue:

In [ ]:
weather.reset_index().pivot_table(
    index=['date', 'station', 'station_name'], 
    columns='datatype', 
    values='value',
    aggfunc='median'  ##default: fequency
).reset_index().tail()

datatype,date,station,station_name,AWND,DAPR,MDPR,PGTM,PRCP,SNOW,SNWD,...,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
28740,2018-12-31,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",5.00,NaN,NaN,2052.00,28.70,NaN,NaN,...,15.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28741,2018-12-31,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",NaN,NaN,NaN,NaN,25.90,0.00,0.00,...,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28742,2018-12-31,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",1.70,NaN,NaN,1954.00,29.20,NaN,NaN,...,8.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28743,2018-12-31,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",2.70,NaN,NaN,2212.00,24.40,NaN,NaN,...,11.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28744,2018-12-31,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",4.10,NaN,NaN,NaN,31.20,0.00,0.00,...,12.50,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can use the `pd.crosstab()` function to create a frequency table. For example, if we want to see how many low-, medium-, and high-volume trading days Facebook stock had each month, we can use crosstab:

In [ ]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'] # name the columns index
)

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [ ]:
pd.crosstab(
    index=weather.station,
    columns=weather.datatype,
    colnames=['month'] # name the columns index
)

month,AWND,DAPR,MDPR,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,...,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
station,,,,,,,,,,,,,,,,,,,,,
GHCND:US1CTFR0039,0,9,9,0,306,10,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GHCND:US1NJBG0003,0,2,2,0,242,108,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GHCND:US1NJBG0010,0,0,0,0,82,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GHCND:US1NJBG0015,0,12,12,0,330,175,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GHCND:US1NJBG0017,0,6,6,0,332,187,37,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GHCND:USW00054787,365,0,0,365,365,0,0,0,365,365,...,365,20,3,0,0,0,0,1,0,0
GHCND:USW00094728,281,0,0,0,365,365,365,0,365,365,...,281,176,10,25,0,0,1,61,0,0
GHCND:USW00094741,363,0,0,363,363,9,1,0,363,363,...,363,33,1,0,4,0,0,8,3,0
GHCND:USW00094745,365,0,0,365,365,0,0,0,365,365,...,365,19,5,0,3,0,0,0,0,0
GHCND:USW00094789,365,0,0,0,365,365,365,365,365,365,...,362,172,40,29,6,1,2,9,2,0

We can normalize with the row or column totals with the `normalize` parameter. This shows percentage of the total:

In [ ]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'],
    normalize='columns'
)

month            1    2    3    4    5    6    7    8    9    10   11   12
trading_volume
low            0.95 1.00 0.71 0.95 1.00 1.00 0.86 1.00 1.00 1.00 1.00 1.00
med            0.05 0.00 0.19 0.05 0.00 0.00 0.10 0.00 0.00 0.00 0.00 0.00
high           0.00 0.00 0.10 0.00 0.00 0.00 0.05 0.00 0.00 0.00 0.00 0.00

If we want to perform a calculation other than counting the frequency, we can pass the column to run the calculation on to `values` and the function to use to `aggfunc`:

In [ ]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'],
    values=fb.close,
    aggfunc=np.mean
)

month,1,2,3,4,5,6,7,8,9,10,11,12
trading_volume,,,,,,,,,,,,
low,185.24,180.27,177.07,163.29,182.93,195.27,201.92,177.49,164.38,154.19,141.64,137.16
med,179.37,NaN,164.76,174.16,NaN,NaN,194.28,NaN,NaN,NaN,NaN,NaN
high,NaN,NaN,164.11,NaN,NaN,NaN,176.26,NaN,NaN,NaN,NaN,NaN

We can also get row and column subtotals with the `margins` parameter. Let's count the number of times each station recorded snow per month and include the subtotals:

In [ ]:
snow_data = weather.query('datatype == "SNOW"')
pd.crosstab(
    index=snow_data.station_name,
    columns=snow_data.index.month,
    colnames=['month'],
    values=snow_data.value,
    aggfunc=lambda x: (x > 0).sum(),
    margins=True, # show row and column subtotals
    margins_name='total observations of snow' # name the subtotals
)

month,1,2,3,4,5,6,7,8,9,10,11,12,total observations of snow
station_name,,,,,,,,,,,,,
"ALBERTSON 0.2 SSE, NY US",3.00,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,9.00
"AMITYVILLE 0.1 WSW, NY US",1.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
"AMITYVILLE 0.6 NNE, NY US",3.00,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8.00
"ARMONK 0.3 SE, NY US",6.00,4.00,6.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,3.00,23.00
"BLOOMINGDALE 0.7 SSE, NJ US",2.00,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"WESTFIELD 0.6 NE, NJ US",3.00,0.00,4.00,1.00,0.00,NaN,0.00,0.00,0.00,NaN,1.00,NaN,9.00
"WOODBRIDGE TWP 1.1 ESE, NJ US",4.00,1.00,3.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,11.00
"WOODBRIDGE TWP 1.1 NNE, NJ US",2.00,1.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,7.00
"WOODBRIDGE TWP 3.0 NNW, NJ US",NaN,0.00,0.00,NaN,NaN,0.00,NaN,NaN,NaN,0.00,0.00,NaN,0.00
total observations of snow,190.00,97.00,237.00,81.00,0.00,0.00,0.00,0.00,0.00,0.00,49.00,13.00,667.00

<hr>
<div>
    <a href="./2-dataframe_operations.ipynb">
        <button>&#8592; Previous Notebook</button>
    </a>
    <a href="./4-time_series.ipynb">
        <button style="float: right;">Next Notebook &#8594;</button>
    </a>
</div>
<hr>

Tasks

In [ ]:
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039   0.00           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US

Find which quarter had the most rain from the daily precipitation data

In [ ]:
dp = weather.query( "datatype == 'PRCP'").groupby(level=0).mean() # daily precipitation data
dp.head()

            value
date
2018-01-01   0.00
2018-01-02   0.00
2018-01-03   0.00
2018-01-04   4.92
2018-01-05  12.30

In [ ]:
dp.groupby(pd.Grouper(freq='Q')).sum() # which quarter had the most rain

            value
date
2018-03-31 364.89
2018-06-30 334.89
2018-09-30 546.52
2018-12-31 473.97

In [ ]:
dp.groupby(pd.Grouper(freq='Q')).value.count()

date
2018-03-31    90
2018-06-30    91
2018-09-30    92
2018-12-31    92
Freq: Q-DEC, Name: value, dtype: int64

Assign 'quarterly total precipitation' and 'number of days in month' variables to daily precipitation data

In [ ]:
dp.assign(
    total_prcp_in_q = lambda x : x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
    total_day_count_in_q = lambda x : x.groupby(pd.Grouper(freq='Q')).value.transform('count')
)

            value  total_prcp_in_q  total_day_count_in_q
date
2018-01-01   0.00           364.89                    90
2018-01-02   0.00           364.89                    90
2018-01-03   0.00           364.89                    90
2018-01-04   4.92           364.89                    90
2018-01-05  12.30           364.89                    90
...           ...              ...                   ...
2018-12-27   0.00           473.97                    92
2018-12-28  10.46           473.97                    92
2018-12-29  18.66           473.97                    92
2018-12-30   0.06           473.97                    92
2018-12-31   4.13           473.97                    92

[365 rows x 3 columns]

In [ ]:
dp.assign(
        total_prcp_in_q=lambda x: \
            x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
        total_day_count_in_q=lambda x: \
            x.groupby(pd.Grouper(freq='Q')).value.transform('count'),
        pct_q_prcp=lambda x: \
            x.value.div(x.total_prcp_in_q)
    )

            value  total_prcp_in_q  total_day_count_in_q  pct_q_prcp
date
2018-01-01   0.00           364.89                    90        0.00
2018-01-02   0.00           364.89                    90        0.00
2018-01-03   0.00           364.89                    90        0.00
2018-01-04   4.92           364.89                    90        0.01
2018-01-05  12.30           364.89                    90        0.03
...           ...              ...                   ...         ...
2018-12-27   0.00           473.97                    92        0.00
2018-12-28  10.46           473.97                    92        0.02
2018-12-29  18.66           473.97                    92        0.04
2018-12-30   0.06           473.97                    92        0.00
2018-12-31   4.13           473.97                    92        0.01

[365 rows x 4 columns]

Calculate rolling 3 days mean precipitation

In [ ]:
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039   0.00           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US

In [ ]:
dp.rolling('3D').mean()

            value
date
2018-01-01   0.00
2018-01-02   0.00
2018-01-03   0.00
2018-01-04   1.64
2018-01-05   5.74
...           ...
2018-12-27   0.07
2018-12-28   3.49
2018-12-29   9.71
2018-12-30   9.73
2018-12-31   7.62

[365 rows x 1 columns]

In [ ]:
dp = weather.query( "datatype == 'PRCP'").groupby(level=0).mean() # daily precipitation data

In [ ]:
weather.rolling('3D').mean().head(7)

            value
date
2018-01-01   0.00
2018-01-01   0.00
2018-01-01   0.00
2018-01-01   0.00
2018-01-01   0.00
2018-01-01   0.00
2018-01-01   0.00

In [ ]:
pd.crosstab(
    index = fb.trading_volume,
    columns = fb.index.month,
    colnames=['month']
)

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

Use pivot_table to produce the same result

In [ ]:
fb.pivot_table(
    index = 'trading_volume',
    columns= fb.index.month,
    values = 'close',
    aggfunc = 'count'
)

date            1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0